.cards {
  max-width: 882px;
  margin: 50px auto 66px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
  grid-gap: 18px;
  justify-items: center;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .cards {
    width: 582px;
  }
}

@media screen and (max-width: 630px) {
  .cards {
    width: 282px;
  }
}