.popup__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin: 0;
  padding: 10px 0 0 40px;
}

@media screen and (max-width: 425px) {
  .popup__subtitle {
    padding-left: 20px;
  } 
}
