.popup__input-error {
  visibility: visible;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  width: 358px;
  position: absolute;
  margin-left: 35px;
  padding-top: 5px;
}

@media screen and (max-width: 530px) {
  .popup__input-error {
    font-size: 8px;
    line-height: 9px;
    margin-left: 20px;
    padding-top: 2px;
    width: 250px;
  }
}
