.profile__about {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .profile__about {
      flex-direction: column;
      margin: 0 auto 0;
    }
  }