.popup__input-error {
  visibility: visible;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  width: 358px;
  position: absolute;
  margin-left: 35px;
  padding-top: 5px;
}
