@import url(./__image/card__image.css);
@import url(./__elements/card__elements.css);
@import url(./__subtitle/card__subtitile.css);
@import url(./__button-like/card__button-like.css);

.card {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
}